@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-xxs: 0.625rem;

  --color-background: hsl(var(--background));
  --color-background-light: hsl(var(--background-light));
  --color-background-lighter: hsl(var(--background-lighter));
  --color-background-lightest: hsl(var(--background-lightest));

  --color-primary-darker: hsl(var(--primary-darker));
  --color-primary-dark: hsl(var(--primary-dark));
  --color-primary: hsl(var(--primary));
  --color-primary-light: var(--primary-light);
  --color-primary-lighter: var(--primary-lighter);
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-color: hsl(var(--color));
  --color-color-light: hsl(var(--color-light));
  --color-color-lighter: hsl(var(--color-lighter));
  --color-color-lightest: hsl(var(--color-lightest));

  --color-foreground: hsl(var(--foreground));
  --color-foreground-dark: var(--foreground-dark);
  --color-foreground-darker: var(--foreground-darker);

  --color-popover: hsl(var(--popover));
  --color-popover-background: hsl(var(--popover-background));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --breakpoint-smartphone: 400px;
  --breakpoint-tablet: 640px;
  --breakpoint-notebook: 816px;
  --breakpoint-laptop: 1316px;
  --breakpoint-widescreen: 1656px;
  --breakpoint-desktop: 1816px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
    :root {
        --background: 0 0% 98%;
        --background-light: 0 0% 95%;
        --background-lighter: 0 0% 90%;
        --background-lightest: 0 0% 85%;
        --foreground: 240 10% 3.9%;
        --foreground-dark: 240 5.9% 10%;
        --foreground-darker: 240 3.7% 15.9%;
        --card: 0 0% 98%;
        --card-foreground: 240 10% 3.9%;
        --color: 338 90% 20%;
        --color-light: 336 85% 30%;
        --color-lighter: 336 80% 40%;
        --color-lightest: 338 90% 60%;
        --popover: 0 0% 95%;
        --popover-background: 0 0% 98%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 10% 3.9%;
        --primary-dark: 240 5.9% 15%;
        --primary-darker: 240 3.7% 20%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 90%;
        --secondary-foreground-two: 0 0% 0%;
        --secondary-foreground: 240 10% 3.9%;
        --muted: 0 0% 90%;
        --muted-foreground: 240 5% 20%;
        --accent: 0 0% 92%;
        --accent-foreground: 240 10% 3.9%;
        --destructive: 0 55% 50%;
        --destructive-foreground: 240 10% 3.9%;
        --border: 0 0% 90%;
        --input: 0 0% 90%;
        --ring: 240 5% 20%;
        --chart-1: 220 65% 60%;
        --chart-2: 160 55% 55%;
        --chart-3: 30 70% 65%;
        --chart-4: 280 60% 70%;
        --chart-5: 340 65% 65%;
        --radius: 0.5rem;
    }

    :root.dark {
        --background: 240 10% 3.9%;
        --background-light: 240 5.9% 10%;
        --background-lighter: 240 3.7% 15.9%;
        --background-lightest: 240 5.3% 26.1%;
        --foreground: 0 0% 98%;
        --foreground-dark: 240 4.8% 95.9%;
        --foreground-darker: 240 5.9% 90%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --color-dark: 336 85% 30%;
        --color: 338 90% 20%;
        --color-light: 336 85% 30%;
        --color-lighter: 336 80% 40%;
        --color-lightest: 338 90% 60%;
        --popover: 240 5.9% 10%;
        --popover-background: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-dark: 240 5.9% 90%;
        --primary-darker: 240 5% 64.9%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-dark: 240 3.7% 28%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer utilities {
    *::-webkit-scrollbar {
        display: none;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
