@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --background-light: 0 0% 95%;
    --background-lighter: 0 0% 90%;
    --background-lightest: 0 0% 85%;
    --foreground: 240 10% 3.9%;
    --foreground-dark: 240 5.9% 10%;
    --foreground-darker: 240 3.7% 15.9%;
    --card: 0 0% 98%;
    --card-foreground: 240 10% 3.9%;
    --color: 336 85% 30%;
    --color-light: 336 85% 40%;
    --color-lighter: 338 90% 50%;
    --popover: 0 0% 95%;
    --popover-background: 0 0% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 10% 3.9%;
    --primary-dark: 240 5.9% 15%;
    --primary-darker: 240 3.7% 20%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 90%;
    --secondary-foreground-two: 0 0% 0%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 0 0% 90%;
    --muted-foreground: 240 5% 20%;
    --accent: 0 0% 92%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 55% 50%;
    --destructive-foreground: 240 10% 3.9%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 240 5% 20%;
    --chart-1: 220 65% 60%;
    --chart-2: 160 55% 55%;
    --chart-3: 30 70% 65%;
    --chart-4: 280 60% 70%;
    --chart-5: 340 65% 65%;
    --radius: 0.5rem;
  }

  :root.dark {
    --background: 240 10% 3.9%;
    --background-light: 240 5.9% 10%;
    --background-lighter: 240 3.7% 15.9%;
    --background-lightest: 240 5.3% 26.1%;
    --foreground: 0 0% 98%;
    --foreground-dark: 240 4.8% 95.9%;
    --foreground-darker: 240 5.9% 90%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --color-dark: 336 85% 30%;
    --color: 336 97% 25%;
    --color-light: 338 100% 33%;
    --color-lighter: 340 100% 50%;
    --popover: 240 5.9% 10%;
    --popover-background: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-dark: 240 5.9% 90%;
    --primary-darker: 240 5% 64.9%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-dark: 240 3.7% 28%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer utilities {
  *::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
